{
  "openapi": "3.0.3",
  "info": {
    "title": "US Video API",
    "version": "1.0.0",
    "description": "AI video API for text-to-video and image-to-video workflows."
  },
  "servers": [
    {
      "url": "https://usvideoapi.com"
    }
  ],
  "components": {
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer"
      }
    },
    "schemas": {
      "CreateVideoRequest": {
        "type": "object",
        "properties": {
          "model": {
            "type": "string",
            "example": "seedance-1-pro"
          },
          "prompt": {
            "type": "string"
          },
          "image_url": {
            "type": "string",
            "nullable": true
          },
          "size": {
            "type": "string",
            "example": "1080p"
          },
          "duration": {
            "type": "integer",
            "example": 5
          }
        },
        "required": ["model", "prompt"]
      },
      "VideoJob": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "status": {
            "type": "string",
            "example": "processing"
          },
          "result_url": {
            "type": "string",
            "nullable": true
          }
        }
      },
      "ApiKeyList": {
        "type": "object",
        "properties": {
          "keys": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "id": {
                  "type": "integer"
                },
                "name": {
                  "type": "string"
                },
                "masked_key": {
                  "type": "string"
                }
              }
            }
          }
        }
      }
    }
  },
  "security": [
    {
      "bearerAuth": []
    }
  ],
  "paths": {
    "/v1/videos": {
      "post": {
        "summary": "Create a video job",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateVideoRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Video job created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/VideoJob"
                }
              }
            }
          }
        }
      }
    },
    "/v1/videos/{jobId}": {
      "get": {
        "summary": "Get video job status",
        "parameters": [
          {
            "name": "jobId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Video job status",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/VideoJob"
                }
              }
            }
          }
        }
      }
    },
    "/v1/api-keys": {
      "get": {
        "summary": "List API keys",
        "responses": {
          "200": {
            "description": "API keys",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiKeyList"
                }
              }
            }
          }
        }
      }
    }
  }
}
